﻿<div style="float: left; width: 750px; font-family: calibri;">
    <div style="border: 2px solid #DDDDDD; height: 415px;">
        <h4 style="background-color: #009949; opacity: 0.8; color: white; height: 30px; margin: 0;
            padding: 18px;">
            CONTACT US MESSAGE
        </h4>
        <div style="width: 750px;">
            <p style="margin-left: 15px; font-size: 16px; color: #009949; font-weight: bold;
                border-bottom: 1px solid #DDDDDD; width: 710px;">
                Message Details
            </p>
            <div style="float: left; height: 30px; color: #009949;">
                <label style="font-weight: bold; margin: 0 0 0 17px; float: left;">
                    Name:</label>
                <label style="font-style: italic; float: left; margin-left: 5px; width: 660px;">
                    <name>
                </label>
            </div>
            <div style="float: left; height: 30px; color: #009949;">
                <label style="font-weight: bold; margin: 0 0 0 17px; float: left;">
                    Email:</label>
                <label style="font-style: italic; float: left; margin-left: 5px; width: 660px;">
                    <email>
                </label>
            </div>
            <div style="float: left; height: 30px; color: #009949;">
                <label style="font-weight: bold; margin: 0 0 0 17px; float: left;">
                    Phone:</label>
                <label style="font-style: italic; float: left; margin-left: 5px; width: 660px;">
                    <phone>
                </label>
            </div>
            <br style="clear: both;" />
            <div style="float: left; height: 30px; color: #009949;">
                <label style="font-weight: bold; margin: 0 0 0 17px; float: left;">
                    Comment:</label>
                <label style="font-style: italic; float: left; margin-left: 5px; width: 660px; line-height: 20px;">
                    <comment>
                </label>
            </div>
            <br style="clear: both;" />
        </div>
    </div>
</div>
