body
{
    background: #fff;
    font-family: 'latoregular' , Arial, Helvetica;
    font-size: 14px;
    color: #000;
}

/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */

.reveal-modal-bg
{
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    background: rgba(251,251,251,.9);
    z-index: 100;
    display: none;
    top: 0;
    left: 0;
}

.reveal-modal
{
    visibility: hidden;
    top: 250px;
    left: 47%;
    margin-left: -300px;
    width: 640px;
    background: #eee;
    position: absolute;
    z-index: 101;
    padding: 30px 40px 34px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #009949;
}
.reveal-modal p
{
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}


.reveal-modal.small
{
    width: 200px;
    margin-left: -140px;
}
.reveal-modal.medium
{
    width: 400px;
    margin-left: -240px;
}
.reveal-modal.large
{
    width: 600px;
    margin-left: -340px;
}
.reveal-modal.xlarge
{
    width: 800px;
    margin-left: -440px;
}

.reveal-modal .close-reveal-modal
{
    font-size: 36px;
    line-height: .5;
    position: absolute;
    top: 8px;
    right: 11px;
    color: #aaa;
    font-weight: bold;
    cursor: pointer;
}

#wrapper
{
    width: 1000px;
    margin: 0 auto;
}
.container
{
    float: left;
    height: auto;
}
.header
{
    width: 1000px;
    height: 176px;
}
.topmenucontainer
{
    float: right;
}
.toplinks
{
    background: url(../images/toplinkbg.jpg) no-repeat #FFFFFF;
    height: 30px;
}
.lanchange
{
    background: #b3e1c9;
    height: 18px;
    float: right;
    text-align: center;
    margin: 2px 5px 2px 0;
    padding: 0 10px;
}
.lanchange li
{
    float: left;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 15px;
}
.clearfix
{
    clear: both;
}
.lanchange li a
{
    color: #000;
    text-decoration: none;
}
.lanchange li a:hover
{
    color: #025429;
}
.topmenu
{
    float: left;
    text-transform: uppercase;
    margin: 4px 0;
}
.topmenu li
{
    display: inline-block;
    float: left;
    border-right: 2px #028540 solid;
    font-size: 12px;
    padding: 0 7px;
}
.topmenu li .current
{
    color: #000;
}

.topmenu li:last-child
{
    border: none;
}
.topmenu li a
{
    color: #FFF;
    text-decoration: none;
}
.topmenu li a:hover
{
    color: #000;
}

.logo
{
    float: left;
}
.rightbar
{
    margin-top: 14px;
}
.tradebtn
{
    color: #fff;
    padding: 9px 15px 9px 40px;
    font-size: 12px;
    font-weight: bold;
    background-color: #009949;
    background-image: url(../images/earth.jpg);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    float: right;
}
.tradebtn2
{
    color: #fff;
    padding: 9px 15px 9px 40px;
    font-size: 12px;
    font-weight: bold;
    background-color: #009949;
    background-image: url(../images/earth.jpg);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    float: right;
}
.tradebtn a
{
    color: #fff;
    text-decoration: none;
}
.searchbar
{
    float: right;
    clear: both;
    margin: 10px 0 0 0;
}
.ui-autocomplete-input
{
    background: url(../images/searchicon.jpg) #d9d9d9 center right no-repeat;
    border: none;
    padding: 3px 30px 3px 10px;
}
.mainmenucontainer
{
    width: 1000px;
    border-bottom: 5px #009949 solid;
    float: left;
}
.mainmenu
{
    float: right;
    font-family: 'corbertregular' , Arial, Calibri;
}
.mainmenu li
{
    float: left;
}
.mainmenu li a
{
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
    line-height: 36px;
    height: 38px;
    background: #666666;
    text-decoration: none;
    float: left;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 0 3px;
    padding: 0 10px;
    color: #FFF;
    min-width: 55px;
    text-align: center;
}
.mainmenu li a.current, .mainmenu li a.current:hover, .mainmenu li a.current:visited
{
    background: #069748;
}
.mainmenu li a:hover
{
    background: #069748;
}
.mainmenu li a:hover
{
    background: #069748;
}
.active
{
    background: #069748 !important;
}
.mainmenu li a span
{
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
    display: block;
}
.banner
{
    width: 1000px;
    height: 290px;
    clear: both;
    border-bottom: 15px #009949 solid;
}
.row1
{
    width: 1000px;
    margin: 10px 0 10px 0;
    float: left;
}
.openaccount
{
    width: 380px;
    float: left;
    background: #eff0f1;
    min-height: 280px;
}
.openaccount h2
{
    color: #009949;
    text-transform: uppercase;
    border-top: 3px #009949 solid;
    padding: 0 15px 0 0;
    margin: 20px 60px 0 15px;
    font-size: 15px;
    line-height: 28px;
    font-weight: normal;
}
.openaccount p
{
    font-size: 13px;
    margin: 10px 15px 15px 15px;
    line-height: 16px;
    text-align: justify;
}
.readmorena
{
    float: right;
}
.readmorena
{
    background: #009949;
    padding: 7px 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    margin: 10px 15px 10px 0;
    font-size: 13px;
}
.readmorena:hover
{
    background: #1B191C;
}
.readmore
{
    float: right;
    margin: 10px 15px 0 0;
}
.readmore a
{
    background: #009949;
    padding: 7px 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    margin: 0 0 10px 0;
    font-size: 13px;
}
.readmore a:hover
{
    background: #1B191C;
}
.marketstat
{
    width: 610px;
    float: right;
    background: #eff0f1;
    min-height: 280px;
}
.marketstat h2
{
    border-top: 3px #009949 solid;
    background: #666666;
    line-height: 32px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-family: 'corbertregular' , Arial, Calibri;
}
.marketstatcontent
{
    background: #eff0f1;
    float: left;
    text-align: center;
}
.diagrm
{
    display: inline-block;
    float: left;
    width: 290px;
    margin: 27px;
}
.diagrm1
{
    display: inline-block;
    float: left;
    margin: 75px 20px 20px;
    width: 250px;
}

.regcontainer
{
    float: left;
    width: auto;
    width: 710px;
    background: #EFF0F1;
    padding: 10px 15px 10px 15px;
}


.regcontainer h2
{
    color: #009949;
    text-transform: uppercase;
    border-top: 3px #009949 solid;
    padding: 0 15px 0 0;
    margin: 0 60px 0 5px;
    font-size: 15px;
    line-height: 28px;
    font-weight: normal;
    float: left;
}
.col1 .field1 input, .col1 .field2 input, .col1 .field3 input, .col1 .message input
{
    padding: 5px;
    margin: 5px 0;
}

.col1 .field1 input
{
    width: 180px;
}
.col1 .field2 input
{
    width: 200px;
}
.col1 .field3 input
{
    width: 250px;
}
.col1 .message input
{
    width: 250px;
    height: 55px;
}

.col1
{
    float: left;
    margin: 10px 0 0 10px;
}

.submit
{
    background: none repeat scroll 0 0 #008b41;
    border: medium none;
    color: #FFFFFF;
    float: right;
    margin: 10px 14px 10px 0;
    padding: 7px 15px;
    float: right;
    text-transform: uppercase;
    font-size: 13px;
}
.submit:hover
{
    background: none repeat scroll 0 0 #666666;
}
.formbtn
{
    background: none repeat scroll 0 0 #008b41;
    border: medium none;
    color: #FFFFFF;
    float: right;
    margin: 10px 5px 10px 0;
    padding: 7px 15px;
    float: right;
    text-transform: uppercase;
    font-size: 13px;
}
.formbtn:hover
{
    background: none repeat scroll 0 0 #666666;
}


.advt
{
    float: right;
}

.latnews
{
    width: 1000px;
    height: 360px;
    background: #EFF0F1;
    float: left;
}
.latnews h2
{
    color: #009949;
    font-size: 15px;
    font-weight: normal;
    line-height: 28px;
    margin: 20px 60px 0 20px;
    padding: 0 15px 0 0;
    text-transform: uppercase;
}


.newslist
{
    float: left;
    width: 237px;
    border: 1px solid #009949;
    margin: 5px 0 5px 8px;
}
.newsinfo
{
    font-size: 13px;
    height: 40px;
    padding: 10px 10px;
}
.footer
{
    border-top: 7px solid #008b41;
    width: 1000px;
    height: 67px;
    margin-top: 5px;
    background: url(../images/footerbg.jpg);
    float: left;
}
.footer p
{
    color: #008b41;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-top: 10px;
}
.footer p a
{
    color: #008b41;
    text-decoration: none;
    margin: 0;
    padding: 0 5px;
}
.footer p a:hover
{
    color: #000;
}


.maincont
{
    float: left;
    width: 700px;
    height: auto;
    background: #eff0f1;
    padding: 15px 25px 30px 15px;
    min-height: 510px;
}
.sidecontent
{
    float: right;
    width: 250px;
}
.faq
{
    width: 220px;
    background: #EEEFF0;
    padding: 10px 15px 20px 15px;
    margin: 0 0 10px 0;
    float: left;
}
.aboutcontent
{
    margin: 10px 0;
    width: 1000px;
    float: left;
}

.pdf
{
    background-color: #009949;
    float: left;
    margin-right: 15px;
    padding: 10px;
    width: 195px;
    text-align: center;
    border-radius: 3px;
    margin-top: 15px;
}

.pdf a
{
    color: #FFFFFF;
    float: left;
    margin-left: 8px;
    margin-top: 8px;
    text-decoration: none;
    font-size: 12px;
}

.pdf img
{
    float: left;
    width: 30px;
}

.faqlist
{
    clear: both;
    padding: 0 0 10px 5px;
}
.marketstats
{
    background: none repeat scroll 0 0 #666666;
    border-top: 4px solid #008B41;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 28px;
    margin-top: -35px;
    position: absolute;
    text-align: center;
    width: 200px;
}

.faq h2
{
    color: #009949;
    text-transform: uppercase;
    border-top: 3px #009949 solid;
    padding: 0 15px 0 0;
    margin: 0 60px 0 5px;
    font-size: 15px;
    line-height: 28px;
    font-weight: normal;
    float: left;
}
.maincont h2
{
    color: #009949;
    text-transform: uppercase;
    border-top: 3px #009949 solid;
    padding: 0 15px 0 0;
    margin: 0 60px 10PX 5px;
    font-size: 15px;
    line-height: 28px;
    font-weight: normal;
    float: left;
}
.maincont h3
{
    color: #009949;
    font-size: 15px;
    line-height: 28px;
    font-weight: bold;
}
.maincont p
{
    text-align: justify;
    margin: 0 0 15px 0;
    font-size: 14px;
    line-height: 20px;
}

.faqlist li
{
    float: left;
    margin: 10px 0;
    line-height: 18px;
    padding-left: 35px;
    background: url(../images/listicon.png) left 0 no-repeat;
    font-size: 14px;
}
.dline
{
    float: left;
    margin: 10px 0;
}
.dline img
{
    width: 700px;
}
.teamcontainer
{
    float: left;
    width: 720px;
    margin: 10px 0 0 5px;
}

.teammember
{
    float: left;
    width: 228px;
    border: 1px solid #009949;
    margin: 5px 10px 5px 0;
}
.boardmember
{
    float: left;
    width: 228px;
    border: 1px solid #009949;
    margin: 5px 5px 5px 0;
}

.homelist li
{
    margin: 10px 0;
    line-height: 24px;
    padding-left: 35px;
    background: url(../images/arrow2.png) left 0 no-repeat;
    font-size: 14px;
}

.teamimg
{
    float: left;
}

.teamname
{
    color: #008b41;
    line-height: 24px;
    font-size: 13px;
    font-weight: bold;
    padding: 0 10px;
    text-align: left;
}
.job
{
    color: #008b41;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    padding: 0 10px;
    text-align: left;
}

.teaminfo
{
    font-size: 14px;
    height: 65px;
    padding: 10px 10px 20px 10px;
    float: left;
    text-align: justify;
}

.greentxt
{
    font-size: 16px;
    color: #009949;
}
.contactinfo p
{
    font-size: 14px;
    color: #000;
    line-height: 18px;
}
.green
{
    color: #008b41;
}
#map
{
    width: 410px;
    height: 240px;
    background: white;
    float: left;
    margin-right: 15px;
}
.continfocontainer
{
    float: left;
    margin: 0 0 50px 0;
}
.contactinfo
{
    float: right;
    width: 250px;
    height: 200px;
}


.maincont h3 a
{
    color: #009949;
}
.careers
{
    background: none repeat scroll 0 0 #EFF0F1;
    float: left;
    height: auto;
    min-height: 150px;
    padding: 15px 25px 30px 15px;
    width: 700px;
}
.career
{
    margin: 15px 10px;
    float: left;
    width: 680px;
}
.career li
{
    background-image: url("../images/listicon.png");
    background-repeat: no-repeat;
    line-height: 26px;
    margin: 9px 0;
    padding-left: 35px;
    font-size: 14px;
}
.career .que
{
    background-image: url(../images/q.png);
    background-repeat: no-repeat;
}
.career .ans
{
    background-image: url(../images/ans.png);
    background-repeat: no-repeat;
}

.backbtn
{
    float: right;
    margin: 10px 15px 0 0;
}
.backbtn a
{
    background: #009949;
    padding: 7px 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    margin: 0 0 10px 0;
    font-size: 13px;
}
.backbtn a:hover
{
    background: #1B191C;
}
.maincont h4
{
    color: #000;
    font-size: 14px;
    line-height: 24px;
}
.profileimage
{
    margin: 10px 10px 10px 0;
    float: left;
}
.faqcontent
{
    width: 960px;
    background: #EFF0F1;
    float: left;
    padding: 10px 20px;
    font-size: 14px;
}
.faqcontent li
{
    line-height: 30px;
    padding: 0 10px 0 30px;
}
.faqcontent .que
{
    background-image: url(../images/q.png);
    background-position: left 4px;
    background-repeat: no-repeat;
    font-weight: bold;
}
.faqcontent .ans
{
    background-image: url(../images/ans.png);
    background-position: left 4px;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}
.faqcontent h2
{
    line-height: 36px;
    font-size: 16px;
}
.innerlist
{
    margin: 0 auto;
}
.innerlist li
{
    list-style-type: none;
    list-style-position: outside;
    background-image: url(../images/blt.png);
    background-repeat: no-repeat;
    background-position: left 5px;
    padding: 0 10px 0 25px;
    line-height: 24px;
}
.maincont p a
{
    color: #008b41;
    text-decoration: underline;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
}
.faq a
{
    color: #000;
    text-decoration: none;
}
.teamdesc
{
    height: 300px;
    height: 135px;
    float: left;
}

.newsimg
{
    margin: 0 auto;
}
.lnImage
{
    width: 238px;
    height: 169px;
}
.anc
{
    color: white;
    text-decoration: none;
}

.ourTeamImage
{
    width: 228px;
    height: 180px;
}

.terms
{
    clear: both;
    font-family: calibri;
    font-weight: normal;
    line-height: 25px;
    text-align: left;
}
.terms h3
{
    float: left;
    clear: both;
}
.terms span
{
    float: left;
    width: 100%;
    margin: 2px 0 0 5px;
}
.terms ul
{
    float: left;
    clear: both;
    list-style: decimal;
    width: 100%;
}
.terms ul li
{
    margin-left: 35px;
    text-align: justify;
}

.margincap
{
    float: left;
    width: 100%;
    margin: 15px 0 15px 0;
}
.capDetail
{
    float: left;
    width: 455px;
}

.activeTop
{
    color: Black !important;
}


.list_carousel {
	margin: 0 auto;
	width: 980px;
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	z-index:350;
}
.list_carousel li {
	
	color: #999;
    padding: 0;	
	margin: 10px 5px;
	display: block;
	float: left;		
}
.next, .prev {
	top: 245px;
}
#foo2 li img {
	width: 216px;
	height: 180px;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}
.brandslider .list_carousel #foo3 li {
	border: none;
}
.brandslider .list_carousel #slnav #prev2 {
	float: left;
	margin-left: 15px;
	background: url(../images/b-prev.png) no-repeat;
	width: 50px;
	height: 50px;
}
.brandslider .list_carousel #slnav #next2 {
	float: right;
	margin-right: 15px;
	background: url(../images/b-next.png) no-repeat;
	width: 50px;
	height: 50px;
}
.brandslider .list_carousel #slnav {
	margin: -120px auto 0;
}
.list_carousel.responsive {
	width: auto;
	margin-left: 0;
}
.clearfix {
	float: none;
	clear: both;
}
.prev {
	float: left;
	margin-left: -20px;
	background: url(../images/b-prev.png) no-repeat;
	width: 78px;
	height: 78px;
}
.next {
	float: right;
	margin-right: -5px;
	background: url(../images/b-next.png) no-repeat;
	width: 78px;
	height: 78px;
}
.next, .prev {
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
	opacity: 0.4;
}
.next:hover, .prev:hover {
	opacity: 1;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
#foo2 li p {
	font-size: 18px;
	color: green;
	line-height:60px;
}
.caroufredsel_wrapper {
    width: 980px !important;
}