
@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fontslato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontslato-light-webfont.woff') format('woff'),
         url('../fontslato-light-webfont.ttf') format('truetype'),
         url('../fontslato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'corbertregular';
    src: url('../fontscorbert_regular_regular-webfont.eot');
    src: url('../fontscorbert_regular_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontscorbert_regular_regular-webfont.woff') format('woff'),
         url('../fontscorbert_regular_regular-webfont.ttf') format('truetype'),
         url('../fontscorbert_regular_regular-webfont.svg#corbertregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.eot');
    src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold-webfont.woff') format('woff'),
         url('../fonts/lato-bold-webfont.ttf') format('truetype'),
         url('../fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

